body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container{
    width: 80% !important;
}

.form-inline .form-group{
    padding: 10px !important;
}

.height{
    height: 33%;
    margin: 10px 0px;
}

.devide{
    padding: 10px;
    border-right: 1px solid;
}

.height-auto{
    height: auto;
}

.list {
    list-style-type: none;
    padding:0;
    margin:0;
}

.list li{
    padding: 3px 0px;
}

.select{
    border-right: 1px solid #333;
}

.wrapper{
    padding: 3px 0px;
}