@model ESSEntryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert alert-info text-center">ESS Entry Form</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="ESSInfo.ESSCode"></label>
                    <input class="form-control" asp-for="ESSInfo.ESSCode" value="@ViewBag.ESSCode" readonly/>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="Employee.Name"></label>
                    <input class="form-control" asp-for="Employee.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Designation"></label>
                    <input class="form-control" asp-for="Employee.Designation" />
                </div>
                <div class="form-group">
                    <label asp-for="ESSInfo.WorkingArea"></label>
                    <input class="form-control" asp-for="ESSInfo.WorkingArea" />
                </div>
                <div class="form-group">
                    <label asp-for="Employee.Phone"></label>
                    <input class="form-control" asp-for="Employee.Phone" />
                </div>
            </div>
            <hr />
            <div class="height-auto">
                <div class="col-md-3 devide">
                    <div class="height">
                        <button class="btn btn-primary">Division Info +</button>
                    </div>
                    <div class="height">
                        <button class="btn btn-primary">Zilla Info +</button>
                    </div>
                    <div class="height">
                        <button class="btn btn-primary">Upazila Info +</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div>
                        <button class="btn btn-primary pull-left">Product Info +</button>
                        <button class="btn btn-primary pull-right">Product Template +</button>
                    </div>
                    <div style="padding-top: 50px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>Product Name</td>
                                    <td>Quantity</td>
                                    <td>Price</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot style="border: 1px solid;">
                            </tfoot>
                        </table>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-danger">Reset</button>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>

<div class="division">
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
